.box1{
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: fixed;
    right: 30px;
    top: 30px;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: palegreen;
}

.box3{
    width: 200px;
    height: 200px;
    background-color: tomato;
}